In [3]:
import sys

sys.path.append("/workspaces/lgcns-mlops-practice")

In [20]:
import pandas as pd
import src.preprocess as pr

house_rent_train = pd.read_csv('../data/house_rent_train.csv')

ModuleNotFoundError: No module named 'src'

In [22]:
house_rent_train

,posted_on,bhk,rent,size,floor,area_type,area_locality,city,furnishing_status,tenant_preferred,bathroom,point_of_contact
0,2022-04-23,2,7000,450,1 out of 3,Carpet Area,safuipara,Kolkata,Furnished,Bachelors,2,Contact Owner
1,2022-04-23,1,6500,800,Ground out of 1,Carpet Area,Santragachi,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
2,2022-04-23,2,20000,700,1 out of 2,Super Area,Salt Lake City Sector 1,Kolkata,Furnished,Bachelors/Family,1,Contact Owner
3,2022-04-23,3,36125,1700,Ground out of 2,Super Area,Salt Lake City,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
4,2022-04-23,2,8000,650,1 out of 2,Super Area,"Garia Station, Garia",Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
2688,2022-06-15,2,13000,650,Ground out of 4,Carpet Area,Lake Gardens,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner
2689,2022-06-15,2,11000,700,Ground out of 2,Carpet Area,Uttarahalli,Bangalore,Semi-Furnished,Bachelors/Family,2,Contact Owner
2690,2022-06-15,3,16000,1305,2 out of 5,Super Area,Bowenpally,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
2691,2022-06-15,1,6000,300,1 out of 2,Carpet Area,"Picnic Garden, E M Bypass",Kolkata,Unfurnished,Bachelors/Family,1,Contact Agent
2692,2022-06-15,3,20000,1100,Ground out of 1,Carpet Area,Salt Lake City Sector 2,Kolkata,Unfurnished,Bachelors,2,Contact Agent